.topImage {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.top_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(hsla(0deg, 0%, 0%, 0%) 50%, hsla(200deg, 90%, 5%, 50%) 80%);
}

.topVisualContainer {
    flex-direction: column;
    overflow: hidden;
    position: relative;

    width: 100vw;
    height: 100svh;
    margin: 0;
    background-color: var(--semantic-background-white);

    z-index: 10000;
}

.topInfoContainer {
    position: absolute;
    top: 0;
    left: 10px;
    color: var(--semantic-text-white);
    z-index: 2;
}

.headText {
    padding: 0;
    font-size: 1.2rem;
    font-family: var(--font-noto-sans-jp), sans-serif;
    font-weight: 400;
    text-shadow: hsla(220deg, 90%, 30%, 90%) 0px 0px 4px;
}

.subInfoContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    width: min(400px, 100%);
    left: 10px;
    bottom: 80px;
    z-index: 2;
    color: var(--semantic-text-white);
}

.subtitle {
    padding: 0;
    font-size: 1.67rem;
    font-family: var(--font-noto-sans-jp), sans-serif;
    font-weight: 900;
}

.title {
    font-size: 4.5rem;
    font-family: var(--font-noto-sans-jp), sans-serif;
    font-feature-settings: "palt";
    font-weight: 900;
    line-height: 4.8rem;
}

.title_thin {
    font-weight: 300;
}

.titleInfo {
    padding: 0;
    font-size: var(--semantic-font-size-l);
    font-family: var(--font-michroma), sans-serif;
    font-weight: 300;
}

.mainHeading {
    font-size: 3rem;
    font-weight: 700;
}

.subHeading {
    padding-left: 10px;
    font-size: var(--semantic-font-size-l);
    font-weight: 700;
}