.nvft {
  z-index: 9999; /* 最前面の意 */
  position: fixed; /* 他の要素に位置が全く影響されない */
  bottom: 0; /* 下の余白ゼロ */
  height: 64px;
  width: 100vw;
}

.nvft-blur {
  position: absolute; /* nvft基準 */
  background-color: hsla(0, 0%, 100%, 0.85);
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  .nvft-blur {
    background-color: hsla(0, 0%, 0%, 0.85);
  }
}

.nvft-main {
  position: absolute; /* nvft基準 */
  width: 100%;
}

.nvft-list {
  display: flex; /* 横に並べる */
  justify-content: space-around; /* 余白が |1 2 2 2 2 1| */
  list-style: none; /* ・をなくす */
  width: 100%;
}

.nvft-item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 4px;
  text-decoration: none; /* <a>タグは標準で underline してしまうので */
}
.nvft-item-active {
  background-color: #42507B;
  color: var(--background);
}
.nvft-item-normal {
  /* backgroundなし */
  color: var(--foreground);
}
@media (prefers-color-scheme: dark) {
  .nvft-item-active {
    background-color: var(--foreground);
  }
}

.nvft-icon {
  position: absolute; /* nvft-item基準 */
  top: 0;
  color: inherit;
  background-color: inherit;
}

.nvft-label {
  position: absolute; /* nvft-item基準 */
  bottom: 0;
  font-size: 14px;
  line-height: 24px; /* 実質height */
  color: inherit;
  background-color: inherit;
}
