.ft-base {
  position: sticky; /* 通常の要素と同様 */
  width: 100%;
  margin-top: 16px;
}

.ft-bg {
  position: absolute; /* ft-base基準 */
  width: 100%;
  height: 100%;
  background-color: #213060;
}

.ft-main {
  position: absolute; /* ft-base基準 */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ft-text {
  display: flex;
  flex-direction: column;
  font-family: var(--font-noto-sans-jp), sans-serif;
  color: #87a3ff;
  font-weight: bold;
}

.ft-producedby {
  font-size: 18px;
}

.ft-us {
  font-size: 32px;
}
