.queryProperty {
  margin: var(--semantic-space-medium);
}

.popupScroll {
  overflow-y: auto;
  overflow-x: auto;
  height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
}

.popupContent {
  height: fit-content;
  width: 100%;
  display: grid;
}

@media (min-width: calc(560px)) {
  .popupContent {
    grid-template-columns: 1fr 1fr;
  }

  .popupSelect {
    max-height: fit-content;
  }
}
@media (max-width: calc(559px)) {
  .popupContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.popupSelect {
  overflow-y: auto;
  overflow-x: auto;
  max-width: calc(100% - calc(var(--semantic-space-large) * 2));
}

.popupClose {
  flex: 1;
  height: 100%;

  display: flex;
  align-items:last baseline;
  justify-content: center;
}
