.programSearchLine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  gap: 1rem;
}
.programSearchLineItem {
  display: flex;
  flex-direction: row;
}
.programSearchLinePItem {
  display: flex;
  align-items: center;
}
.programSearchLinePItem p {
  padding-left: 0px;
}

.programSelectPullDown {
  border: none;
  background: rgb(238, 238, 238, 0.9);
  padding: 0.35em;
  border-radius: 0.35em;
  margin: 0.15em;
  font-size: 1rem;
}

.programSelectPullDownItems {
  background: rgb(238, 238, 238, 0.9);
  display: block;
  width: unset;
  max-height: inherit;
  min-height: unset;
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 0.75em 1.0em 0.75em 0.75em;
  margin: 0.15em;
  z-index: 1;
  white-space: nowrap;
}

.programSearchResetButtonContent {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.programSearchResetButtonContent svg {
  margin: auto;
}
.programSearchResetButtonContentDiv {
  display: flex;
  align-items: center;
}
.programSearchResetButtonContentDiv p {
  padding-left: 0px;
}

.programSelectResetButton {
  font-size: 1rem;
  background: none;
  color: #42507B;

  padding-left: 1rem;
  padding-right: 1rem;
  /** border: none; */
}

.programSelectResetButton svg {
  vertical-align: sub;
  margin-right: 0.15em;
}
