.ganoine-button {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-block: 1rem;
    font-weight: bold;
    line-height: 2rem;
    border-width: 3px;
    border-style: solid;
    border-radius: var(--semantic-radius-circle);
    text-decoration: none;
    padding-right: var(--semantic-space-2);
    padding-left: var(--semantic-space-2);
}

.ganoine-button > * {
    margin-block: 0.35rem;
    padding: 0 0.75rem 0 0.75rem;
}

.ganoine-button {
    color: var(--semantic-button-default-text);
    border-color: var(--semantic-button-default-border);
    background: transparent;
}

.ganoine-button[data-kind="primary"] {
    color: var(--semantic-button-primary-text);
    border-color: var(--semantic-button-primary-border);
    background: transparent;
}

.ganoine-button[data-kind="danger"] {
    color: var(--semantic-button-dangor-text);
    background: var(--semantic-button-dangor-fill);
    border-color: var(--semantic-button-dangor-fill);
}

.ganoine-button[data-disabled="true"] {
    opacity: 0.33;
}