.leaflet-top.leaflet-right {
  transition: top 0.3s ease;
}

.leaflet-control-layers-base label span span {
  display: inline-block;
  color: var(--semantic-text-dark);
  border-radius: var(--semantic-radius-small);
  padding: 5px;
  width: 4rem;
  font-size: var(--semantic-font-size-content);
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  margin: 3px;
  border: 3px solid transparent;
}
.leaflet-control-layers-base label span span:hover {
  border: 3px solid var(--semantic-color-secondly);
  background: var(--semantic-background-white);
  color: var(--semantic-color-secondly);
}
.leaflet-control-layers-base label span input[type="radio"]:checked + span{
  border: 3px solid var(--semantic-color-primary) !important;
  color: var(--semantic-color-primary) !important;
  font-weight: 700;
  width: 4rem;
  background-color: var(--semantic-background-white) !important;
}
.leaflet-control-layers-selector {
  display: none;
}
