.radioBar{
    display: block;
    background: #FFFFFF;
    padding: 8px 10px;
    border-radius: 1px;
    width: fit-content;
    align-items: center;
}
.radioBox__input {
    display: none;
}
.radioBox__span{
    display: inline-block;
    color: #000000;
    border-radius: 3px;
    padding: 5px 20px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    margin: 5px 5px;
}
.radioBox__input:checked {
    border: 3px solid hsl(220, 100%, 70%);
    color: hsl(220, 100%, 70%);
}
.radioBox__span:hover {
    border: 1px solid hsl(220, 100%, 70%);
}