.backdrop{
    position: fixed;
    background-color: #3d3d4650;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5000;
}
.main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60vw;
    height: 80vw;
    background-color: fcfcfc;
}
.images{
    width: 100px;
    height: 100px;
}
.link span{
    color: #3d3d46;
    border: 3px solid hsl(220, 100%, 70%);
    border-radius: 7px;
    width: fit-content;
    height: fit-content;
}
.selected {
    display: none;
}