.popupOpenButton button{
    display: none;
}
.popupOpenButton {
    display: block;
    margin-top: 1rem;
    width: fit-content;
    height: fit-content;
    border: 3px solid var(--semantic-button-primary-border);
    color: var(--semantic-button-primary-text);
    border-radius: var(--semantic-radius-small);
    z-index: 30000;
}
.popupOpenButton span {
    display: block;
    margin: 0.5rem 1rem;
}
.popupOpenButton:hover {
    cursor: pointer;
    border-color: var(--semantic-button-color-secondly);
    color: var(--semantic-color-secondly);
}
.backdrop{
    position: fixed;
    background-color: var(--semantic-shadow-default);
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 15000;
}
.main{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--semantic-background-white);
    z-index: 25000;
}
.popupCloseButton button{
    display: none;
}
.popupCloseButton{
    display: block;
    width: fit-content;
    height: fit-content;
    border: 3px solid var(--semantic-color-primary);
    color: var(--semantic-color-primary);
    font-size: var(--semantic-font-size-xxl);
    border-radius: var(--semantic-radius-small);
    z-index: 30000;
}
.popupCloseButton span {
    display: block;
    margin: 0.75rem 1rem;
}
.popupCloseButton:hover {
    cursor: pointer;
    border-color: var(--semantic-color-secondly) !important;
    color: var(--semantic-color-secondly) !important;
}
.content {
    margin-top: 0.75rem;
    margin-left: 0.75rem;
    color: var(--semantic-text-dark);
}
.content h1 {
    color: var(--semantic-color-tertiary);
    font-size: var(--semantic-font-size-heading);
}
.area {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
}
.prText {
    margin-bottom: 1rem;
}
.link {
    color: var(--semantic-link-default);
    display: flex;
    width: fit-content;
    height: fit-content;
    font-size: var(--semantic-font-size-content);
    font-weight: 700;
}
.link span{
    margin: 0.5rem 1rem;
}
.link:hover {
    color: var(--semantic-link-active);
    border-color: var(--semantic-color-secondly);
}