.ft-base {
  position: absolute; /* content-base基準 */
  bottom: 0;
  width: 100%;
  margin-top: 16px;
}

.ft-bg {
  position: absolute; /* ft-base基準 */
  width: 100%;
  background-color: var(--token-color-dark-blue-1000);
}

.ft-main {
  position: absolute; /* ft-base基準 */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ft-text {
  display: flex;
  flex-direction: column;
  font-family: var(--font-noto-sans-jp), sans-serif;
  color: var(--token-color-light-blue-400);
  font-weight: bold;
}

.ft-producedby {
  font-size: 18px;
}

.ft-us {
  font-size: 32px;
}
