.even {
    --backgroundColor: #cce6ff;
    --stripColor: var(--token-color-light-blue-600);
    --headingColor: var(--token-color-blue-500);
}

.odd {
    --backgroundColor: #e5f2ff;
    --stripColor: var(--token-color-light-blue-500);
    --headingColor: var(--token-color-blue-400);
}

.even * {
    --backgroundColor: #cce6ff;
    --stripColor: var(--token-color-light-blue-600);
    --headingColor: var(--token-color-blue-500);
}

.odd * {
    --backgroundColor: #e5f2ff;
    --stripColor: var(--token-color-light-blue-500);
    --headingColor: var(--token-color-blue-400);
}